.env
unsloth_compiled_cache/
./Finetune/outputs/
../home_testing/.env
__pycache__
.idea/
_unsloth_temporary_saved_buffers/
Finetune/outputs/
Finetune/llama.cpp/
Finetune/lora_model_trained/
Finetune/lora_model_trained_2/